
<p>home works!</p>
<body class="d-flex flex-column h-100">
  <main class="flex-shrink-0">
      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container px-5">
              <a class="navbar-brand" href="index.html"><h1>ARRUN</h1></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" routerLink="/">trang chủ</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#" routerLink="dangnhap">Đăng nhập</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#" routerLink="dangky">Đăng ký</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#" routerLink="doipass">Đổi pass</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#" routerLink="download">Download</a> </li>
                    <li class="nav-item"><a class="nav-link" routerLink="listsp">dssp</a></li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">loại sản phẩm</a>
                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                            <app-loai-sanpham></app-loai-sanpham>
                          </ul>
                      </li>
                        <li class="nav-item"><a class="nav-link" routerLink="admin">Trang admin</a></li>
                        <li class="nav-item">
                          <a class="nav-link" (click)="thoat()">Thoát</a>
                          <p class="nav-link"> Tình trạng đăng nhập: {{ daDangNhap() }}</p>
                           </li>
                  </ul>
              </div>
          </div>
      </nav>
      <!-- Header-->
      <header class="bg-dark py-5">
          <div class="container px-5">
              <div class="row gx-5 align-items-center justify-content-center">
                  <div class="col-lg-8 col-xl-7 col-xxl-6">
                      <div class="my-5 text-center text-xl-start">
                          <h1 class="display-5 fw-bolder text-white mb-2">Sản phẩm mới nhất từ nhà gunni giảm 30%</h1>
                          <p class="lead fw-normal text-white-50 mb-4">sản phẩm dành riêng cho các tính đồ thời trang!</p>
                          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Mua ngay</a>
                              <a class="btn btn-outline-light btn-lg px-4" href="#!">Chi tiết</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="../assets/img/slide.jpg" alt="..." /></div>
              </div>
          </div>
      </header>

      <router-outlet>Nội dung cần điều hướng


      </router-outlet>


  </main>
  <!-- Footer-->
  <footer class="bg-dark py-4 mt-auto">
      <div class="container px-5">
          <div class="row align-items-center justify-content-between flex-column flex-sm-row">
              <div class="col-auto"><div class="small m-0 text-white">trivip &copy; gmail.com</div></div>
              <div class="col-auto">
                  <a class="link-light small" href="#!">Privacy</a>
                  <span class="text-white mx-1">&middot;</span>
                  <a class="link-light small" href="#!">Terms</a>
                  <span class="text-white mx-1">&middot;</span>
                  <a class="link-light small" href="#!">Contact</a>
              </div>
          </div>
      </div>
  </footer>
</body>

